// Main
$main: #4D5965;
$secondary: #F2F2F2;
$tertiary: #FFFFFF;
$quatenary: #D7D7D7;
$texthover: #000000;

// Colors
$red: #FDA0A0;
$red2: #F4D5D7;
$red3: #EEC0C3;
$red4: #FBCFD2;
$amber: #FFBF00;
$amber2: #FFEECC;
$amber3: #F0DDB6;
$amber4: #FFDA6B;
$amber5: #FDE9C2;
$green1: #78A891;
$green2: #E6EFEB;
$green3: #CAD9D2;
$green4: #7BC2A2;
$blue1: #C9CFF7;
$blue2: #9699FA;

// Button colors
$greenbutton: #7BC2A2;
$greenbuttonhover: #4FAA81;
$greybutton: #D0D0D0;
$greybuttonhover: #AEAEAE;
$amberbutton: #FFDA6B;
$amberbuttonhover: #FFC927;
$redbutton: #FDA0A0;
$redbuttonhover: #fC6E6E;

// Test colors
$menu: #003447;
$menuhover: #004761;
$menutext: #FFFFFF;
$menutexthover: #ffffff;
$menuborder: #004761;

